<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Raleway:700,400" %>
  <%= stylesheet_link_tag "http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" %>
  <%= stylesheet_link_tag "top" %>
</head>
<body>
  <header class="header">
    <p class="site-title-sub">Software engineering study group</p>
    <h1 class="site-title">dodosoft</h1>
    <p class="site-description">著名なソフトウェア工学本の輪読会</p>
    <div class="buttons">
      <a class="button button-showy" href="#about">ABOUT US</a>
      <a class="button" href="#books">BOOKS</a>
      <a class="button" href="#activities">ACTIVITIES</a>
    </div>
  </header>
  <section class="about" id="about">
    <h2 class="heading">ABOUT US</h2>
    <p class="about-text">
      5年目社会人の同期で設計・実装について勉強しています。<br>
      新人のころから月1，2回ペース(土日など休日を利用して開催)<br>
      で90回以上実施してきました。(2016年10月現在)<br>
      そのとき必要と感じた技術を中心に輪読メインで学習しています。<br>
      突発的にLT大会や、開発合宿も開催しており、<br>
      学ぶことはもちろん、楽しく持続することを目指して活動しています。
    </p>
  </section>
  <section class="books" id="books">
    <h2 class="heading">CURRENT BOOKS</h2>
    <p class="book-intro">
      現在勉強会で輪読および演習に使っている書籍です。<br>
      過去に輪読した書籍を参照したい場合、[more] をクリックしてください。
    </p>
    <div class="books-wrapper">
      <div class="book-box">
        <%= image_tag("top/micro_service.jpeg", class: "book-image") %>
        <div class="book-title">マイクロサービスアーキテクチャ</div>
        <p class="book-text">
          マイクロサービスとは、Thought Works社のマーチンファウラーと<br>
          ジェームス・ルイスが最初に提唱したソフトウェアアーキテクチャです。<br>
          モノリシック(一枚岩)なアーキテクチャを、ビジネス機能に沿って<br>
          複数の小さい「マイクロサービス」に分割し、それらを連携させる<br>
          アーキテクチャにすることで、迅速なデプロイ、優れた回復性や<br>
          スケーラビリティといった利点を実現しようとするものです。...背表紙より

        </p>
      </div>
      <div class="book-box">
        <%= image_tag("top/puzzle.jpg", class: "book-image") %>
        <div class="book-title">プログラマ脳を鍛える数学パズル</div>
        <p class="book-text">
          本書では、70問の数学パズルを解くためのプログラムを作成していきます。<br>
          実装方法よりも「どういう手順で実装すれば解けそうか」を考える事が重要。<br>
          パズルを解くうちにアルゴリズムが身につき、<br>
          シンプルで高速なコードが書けるようになります。<br>
          楽しみながらスキルアップもできて一石二鳥。さっそく挑戦してみましょう!
        </p>
      </div>
    </div>
    <div class="book-button">
      <a class="button" href="#books">MORE</a>
    </div>
  </section>
  <section class="activities" id="activities">
    <h2 class="heading">RECENT ACTIVITIES</h2>
    <p class="activity-intro">
      直近3回分の活動について記録しています。<br>
      更に過去の活動を参照したい場合は、[more] をクリックしてください。
    </p>
    <div class="activities-wrapper">
      <div class="activity-box">
        <div class="activity-title">第95回</div>
        <p class="activity-text">
          アットウェアさんで開催。<br>
          マイクロサービスアーキテクチャ10章をやりました。<br>
          また、100回記念の企画について、話を進めました。
        </p>
      </div>
      <div class="activity-box">
        <div class="activity-title">第94回</div>
        <p class="activity-text">
          アットウェアさんで開催。<br>
          マイクロサービスアーキテクチャ9章（後半）をやりました。
        </p>
      </div>
      <div class="activity-box">
        <div class="activity-title">第93回</div>
        <p class="activity-text">
          代々木公園で開催。<br>
          マイクロサービスアーキテクチャ9章（前半）をやりました。
        </p>
      </div>
    </div>
    <div class="activity-button">
      <a class="button" href="#activities">MORE</a>
    </div>
  </section>
  <section>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeReSkQWGMtvc2WfyZbnOF7HeiVDknylvJJGoBmwdddm_mHQw/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます...</iframe>
  </section>
  <footer class="footer">
    © dodosoft
  </footer>
  <%= javascript_include_tag 'placeholders.min.js' %>
</body>
</html>
