<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Raleway:700,400" %>
  <%= stylesheet_link_tag "http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" %>
  <%= stylesheet_link_tag "top" %>
</head>
<body>
  <header class="header">
    <p class="site-title-sub">Software engineering study group</p>
    <h1 class="site-title">ソフトウェア工学勉強会</h1>
    <p class="site-description">著名なソフトウェア工学本の輪読会</p>
    <div class="buttons">
      <%= link_to("ABOUT US", { anchor: "about" }, class: "button") %>
      <%= link_to("SEND MESSAGE", { anchor: "contact" }, class: "button button-showy") %>
    </div>
  </header>
  <section class="about" id="about">
    <h2 class="heading">ABOUT US</h2>
    <p class="about-text">
      月に1, 2回のペースで、ソフトウェア工学の著名な本を皆で輪読しています。
    </p>
    <p class="about-text">
      突発的にLT大会や、開発合宿を開催しており、<br>
      学ぶことはもちろん、持続することを目指して活動しています。
    </p>
  </section>
  <section class="books">
    <h2 class="heading">BOOKS</h2>
    <div class="books-wrapper">
      <div class="book-box tree">
        <%= image_tag("top/tree.jpg", class: "book-image", alt: "製作事例1") %>
        <div class="book-description">
          <div class="book-description-inner">
            <p class="book-text">
              ひとつめの事例が入ります。<br>
              簡単な説明が入ります。<br>
              使用ツール：XXX, XXX, XXX<br>
              <%= link_to("READ MORE", { anchor: "" }, class: "button button-ghost") %>
            </p>
          </div>
        </div>
      </div>
      <div class="book-box building">
        <%= image_tag("top/building.jpg", class: "book-image", alt: "製作事例2") %>
        <div class="book-description">
          <div class="book-description-inner">
            <p class="book-text">
              ふたつめの事例が入ります。<br>
              簡単な説明が入ります。<br>
              使用ツール：XXX, XXX, XXX<br>
              <%= link_to("READ MORE", { anchor: "" }, class: "button button-ghost") %>
            </p>
          </div>
        </div>
      </div>
      <div class="book-box lake">
        <%= image_tag("top/lake.jpg", class: "book-image", alt: "製作事例3") %>
        <div class="book-description">
          <div class="book-description-inner">
            <p class="book-text">
              みっつめの事例が入ります。<br>
              簡単な説明が入ります。<br>
              使用ツール：XXX, XXX, XXX<br>
              <%= link_to("READ MORE", { anchor: "" }, class: "button button-ghost") %>
            </p>
          </div>
        </div>
      </div>
      <div class="book-box sky">
        <%= image_tag("top/sky.jpg", class: "book-image", alt: "製作事例4") %>
        <div class="book-description">
          <div class="book-description-inner">
            <p class="book-text">
              よっつめの事例が入ります。<br>
              簡単な説明が入ります。<br>
              使用ツール：XXX, XXX, XXX<br>
              <%= link_to("READ MORE", { anchor: "" }, class: "button button-ghost") %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="activities">
    <h2 class="heading">RECENT ACTIVITIES</h2>
    <div class="activities-wrapper">
      <div class="activity-box">
        <i class="activity-icon fa fa-lightbulb-o"></i>
        <div class="activity-title">IDEA</div>
        <p class="activity-text">
          何かを考えることが好きです。<br>
          新しいことを思いついては試しています。<br>
          ディレクションの経験もあります。
        </p>
      </div>
      <div class="activity-box">
        <i class="activity-icon fa fa-paint-brush"></i>
        <div class="activity-title">DESIGN</div>
        <p class="activity-text">
          見た目の綺麗さだけじゃなくて、<br>
          使いやすさ、情報の伝わりやすさなど、<br>
          その先まで考えることを意識しています。
        </p>
      </div>
      <div class="activity-box">
        <i class="activity-icon fa fa-code"></i>
        <div class="activity-title">DESIGN</div>
        <p class="activity-text">
          HTML/CSSコーディングも行います。<br>
          正しく美しいマークアップと、<br>
          今後の変更への強さを考慮しています。
        </p>
      </div>
    </div>
  </section>
  <section class="contact" id="contact">
    <h2 class="heading">CONTACT</h2>
    <form class="contact-form">
      <input type="text" name="name" placeholder="NAME">
      <textarea name="message" placeholder="MESSAGE"></textarea>
      <input type="submit" value="SEND">
    </form>
  </section>
  <footer class="footer">
    © sample site
  </footer>
  <%= javascript_include_tag 'placeholders.min.js' %>
</body>
</html>
