<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>シングルページレイアウト</title>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:700,400">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag "top" %>
</head>
<body>
  <header class="header">
    <p class="site-title-sub">Web designer's portfolio</p>
    <h1 class="site-title">HI, MY NAME IS...</h1>
    <p class="site-description">Check out some of my works.</p>
    <div class="buttons">
      <a class="button" href="#about">LEARN MORE</a>
      <a class="button button-showy" href="#contact">SEND MESSAGE</a>
    </div>
  </header>
  <section class="about" id="about">
    <h2 class="heading">ABOUT ME</h2>
    <p class="about-text">
      はじめまして。日本でWebデザイナーをしています。<br>
      デザインの専門学校を卒業し、製作会社での業務経験を経て、
      現在はフリーランスとして働いています。
    </p>
    <p class="about-text">
      このサイトは「HTML/CSS モダンコーディング」という書籍のサンプルとして作られた、
      架空のWebデザイナーのポートフォリオサイトです。<br>
      このサンプルのようなサイトをいちから作る過程を通して、
      HTMLとCSSの実践的なコーディングノウハウを学ぶことができます。
    </p>
  </section>
  <section class="works">
    <h2 class="heading">WORKS</h2>
    <div class="works-wrapper">
      <div class="work-box tree">
        <%= image_tag("top/tree.jpg", class: "work-image", alt: "製作事例1") %>
        <div class="work-description">
          <div class="work-description-inner">
            <p class="work-text">
              ひとつめの事例が入ります。<br>
              簡単な説明が入ります。<br>
              使用ツール：XXX, XXX, XXX<br>
              <a href="#" class="button button-ghost">READ MORE</a>
            </p>
          </div>
        </div>
      </div>
      <div class="work-box building">
        <%= image_tag("top/building.jpg", class: "work-image", alt: "製作事例2") %>
        <div class="work-description">
          <div class="work-description-inner">
            <p class="work-text">
              ふたつめの事例が入ります。<br>
              簡単な説明が入ります。<br>
              使用ツール：XXX, XXX, XXX<br>
              <a href="#" class="button button-ghost">READ MORE</a>
            </p>
          </div>
        </div>
      </div>
      <div class="work-box lake">
        <%= image_tag("top/lake.jpg", class: "work-image", alt: "製作事例3") %>
        <div class="work-description">
          <div class="work-description-inner">
            <p class="work-text">
              みっつめの事例が入ります。<br>
              簡単な説明が入ります。<br>
              使用ツール：XXX, XXX, XXX<br>
              <a href="#" class="button button-ghost">READ MORE</a>
            </p>
          </div>
        </div>
      </div>
      <div class="work-box sky">
        <%= image_tag("top/sky.jpg", class: "work-image", alt: "製作事例4") %>
        <div class="work-description">
          <div class="work-description-inner">
            <p class="work-text">
              よっつめの事例が入ります。<br>
              簡単な説明が入ります。<br>
              使用ツール：XXX, XXX, XXX<br>
              <a href="#" class="button button-ghost">READ MORE</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="skills">
    <h2 class="heading">MY SKILLS</h2>
    <div class="skills-wrapper">
      <div class="skill-box">
        <i class="skill-icon fa fa-lightbulb-o"></i>
        <div class="skill-title">IDEA</div>
        <p class="skill-text">
          何かを考えることが好きです。<br>
          新しいことを思いついては試しています。<br>
          ディレクションの経験もあります。
        </p>
      </div>
      <div class="skill-box">
        <i class="skill-icon fa fa-paint-brush"></i>
        <div class="skill-title">DESIGN</div>
        <p class="skill-text">
          見た目の綺麗さだけじゃなくて、<br>
          使いやすさ、情報の伝わりやすさなど、<br>
          その先まで考えることを意識しています。
        </p>
      </div>
      <div class="skill-box">
        <i class="skill-icon fa fa-code"></i>
        <div class="skill-title">DESIGN</div>
        <p class="skill-text">
          HTML/CSSコーディングも行います。<br>
          正しく美しいマークアップと、<br>
          今後の変更への強さを考慮しています。
        </p>
      </div>
    </div>
  </section>
  <section class="contact" id="contact">
    <h2 class="heading">CONTACT</h2>
    <form class="contact-form">
      <input type="text" name="name" placeholder="NAME">
      <textarea name="message" placeholder="MESSAGE"></textarea>
      <input type="submit" value="SEND">
    </form>
  </section>
  <footer class="footer">
    © sample site
  </footer>
  <%= javascript_include_tag 'placeholders.min.js' %>
</body>
</html>
