<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Raleway:700,400" %>
  <%= stylesheet_link_tag "http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" %>
  <%= stylesheet_link_tag "top" %>
</head>
<body>
  <header class="header">
    <p class="site-title-sub">Software engineering study group</p>
    <h1 class="site-title">dodosoft</h1>
    <p class="site-description">著名なソフトウェア工学本の輪読会</p>
  </header>
  <section class="about" id="about">
    <h2 class="heading">ABOUT US</h2>
    <p class="about-text">
      月に1, 2回のペースで、ソフトウェア工学の著名な本を皆で輪読しています。
    </p>
    <p class="about-text">
      突発的にLT大会や、開発合宿を開催しており、<br>
      学ぶことはもちろん、持続することを目指して活動しています。
    </p>
  </section>
  <section class="books">
    <h2 class="heading">CURRENT BOOKS</h2>
    <div class="books-wrapper">
      <div class="book-box">
        <%= image_tag("top/micro_service.jpeg", class: "book-image") %>
        <div class="book-title">マイクロサービスアーキテクチャ</div>
        <p class="book-text">
          マイクロサービスとは、Thought Works社のマーチンファウラーと<br>
          ジェームス・ルイスが最初に提唱したソフトウェアアーキテクチャです。<br>
          モノリシック(一枚岩)なアーキテクチャを、ビジネス機能に沿って<br>
          複数の小さい「マイクロサービス」に分割し、それらを連携させる<br>
          アーキテクチャにすることで、迅速なデプロイ、優れた回復性や<br>
          スケーラビリティといった利点を実現しようとするものです。...背表紙より

        </p>
      </div>
      <div class="book-box">
        <%= image_tag("top/puzzle.jpg", class: "book-image") %>
        <div class="book-title">プログラマ脳を鍛える数学パズル</div>
        <p class="book-text">
          本書では、70問の数学パズルを解くためのプログラムを作成していきます。<br>
          実装方法よりも「どういう手順で実装すれば解けそうか」を考える事が重要。<br>
          パズルを解くうちにアルゴリズムが身につき、<br>
          シンプルで高速なコードが書けるようになります。<br>
          楽しみながらスキルアップもできて一石二鳥。さっそく挑戦してみましょう!
        </p>
      </div>
    </div>
  </section>
  <section class="activities">
    <h2 class="heading">RECENT ACTIVITIES</h2>
    <div class="activities-wrapper">
      <div class="activity-box">
        <div class="activity-title">第95回</div>
        <p class="activity-text">
          アットウェアさんで開催。<br>
          マイクロサービスアーキテクチャ10章をやりました。<br>
          また、100回記念の企画について、話を進めました。
        </p>
      </div>
      <div class="activity-box">
        <div class="activity-title">第94回</div>
        <p class="activity-text">
          ほんげえ。
        </p>
      </div>
      <div class="activity-box">
        <div class="activity-title">第93回</div>
        <p class="activity-text">
          ほげほげ。
        </p>
      </div>
    </div>
  </section>
  <footer class="footer">
    © dodosoft
  </footer>
  <%= javascript_include_tag 'placeholders.min.js' %>
</body>
</html>
