<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Contents:</strong>
  <%= @book.contents %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @book.image_path.to_s %>
</p>

<p>
  <strong>Order at:</strong>
  <%= @book.order_at %>
</p>

<p>
  <strong>Category:</strong>
  <% @book.categories.each do |category| %>
    <strong style="<%= bg(category) %>"><%= category.label %> </strong>
  <% end %>
</p>

<p>
  <strong>Current book:</strong>
  <%= @book.current ? "◯" : "-" %>
</p>

<%= link_to 'Edit', edit_admin_book_path(@book) %> |
<%= link_to 'Back', admin_books_path %>
