<p id="notice"><%= notice %></p>

<h1>Activities</h1>

<table>
  <thead>
    <tr>
      <th>Times</th>
      <th>Alias title</th>
      <th>Contents</th>
      <th>Image</th>
      <th>Order at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.times %></td>
        <td><%= activity.alias_title %></td>
        <td><%= activity.contents %></td>
        <td><%= image_tag activity.image_path.to_s %></td>
        <td><%= activity.order_at %></td>
        <td><%= link_to 'Show', [:admin, activity] %></td>
        <td><%= link_to 'Edit', edit_admin_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', [:admin, activity], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activity', new_admin_activity_path %>
